/* this is the header at the top of the html file. */
.my_class {
    width: 100vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1 auto;
    position: static;
    background-color: azure;
}
.my_grid {
    display: grid;
    grid-template-rows: 5em 5em 5em 5em;
    grid-row-gap: 10px;
    grid-auto-flow: row;
}
/* Targets a div that appears next to the header at the top of the page. */
#my_id {
    width: 5vw;
    background-image: url("favicon.png");
    background-clip: content-box;

}
@media screen {
    video {
        background-color: darksalmon;
    }
}
.box_a {
    display:inline-block;
    margin-top: 1mm;
    margin-bottom: 1mm;
    margin-left: 1mm;
    margin-right: 1mm;
    padding-top: 1mm;
    padding-bottom: 1mm;
    padding-left: 1px;
    padding-right: 1px;
    border-bottom: 1mm;
    border-top: 1mm;
    border-left: 1mm;
    border-right: 1mm;
    border-style: groove;
    border-color: blue;
    border-width: 5px;
    border-radius: 1mm;
}
.box_b {
    display:inline;
    margin: 5px 5px 5px 5px;
    padding: 1mm 1mm 1mm 1mm;
    border: medium dotted red;
}
/* A universal selector. */
* {

}
/*  */
title {

}
/* sub-team recap header is hit by this*/
[my_atribute="has_attribute"] {
    padding: 1vmin;
}
/* Any summaries that are hovered are hit by this. */
summary:hover {
    color: aqua
}
summary:active {
    color: beige
}
/* The italic text is affected by this */
b,
strong {
    max-width: 10in;
    min-width: 1px;
}
header h1 {
    border: 1em;
}
/* This happens anywhere there is a collapsable list. */
details > summary {
    position: relative;
    left: 5em;

}
/* This appears once at the header that describes the weeks plans. */
h2 + p {
    color: lawngreen;
    text-decoration: orange;
    text-align-last: center;
    font-family: 'Open Sans', sans-serif;
}
/* This is in the list of lists. */
li ~ li {
    margin-top: 1ch;
    margin-bottom: 1px;
    padding-left: 1mm;
    padding-right: 2pc;

}
/* this is the header at the top of the html form. */
h2.form_class {

}
